@model IEnumerable<ProductVM>

@{
    ViewData["Title"] = "Produs";
}

<div class="row mb-2 mt-2 operationsButtons">
    <div class="col-md-12">
        <a href="/Product/New" class="btn btn-new btn-outline-new font-weight-bold mr-2" style="background-color: #7c0a02" color="#e9967a" data-toggle="tooltip" title="New" data-placement="top">
            <span class="fa fa-plus-circle"></span>
        </a>

        <button class="btn btn-outline-dark font-weight-bold mr-2" data-toggle="tooltip" title="Edit" style="background-color: #7c0a02" color="#e9967a" data-placement="top" onclick="Product.onEditBtnPress()">
            <span class="fa fa-edit"></span>
        </button>

        <button type="button" class="btn btn-delete btn-outline-delete font-weight-bold mr-2" id="btnDelete" style="background-color: #7c0a02" color="#e9967a" data-toggle="tooltip" data-placement="top" title="Delete" onclick="Product.onDelete()">
            <span class="fa fa-trash"></span>
        </button>
    </div>
</div>

<br/><br/>

     <table id="table" class="table table-hover table-striped table-dark">
         <thead>
             <tr>
                 <th hidden style="background-color: #7c0a02">ID Produs</th>
                 <th style="background-color: #7c0a02">Imagine</th>
                 <th style="background-color: #7c0a02">Nume Produs</th>
                 <th style="background-color: #7c0a02">Pret</th>
                 <th style="background-color: #7c0a02">In Stoc</th>
             </tr>
         </thead>

         <tbody>

             @foreach (var item in Model)
              {
                 <tr id="@item.Id">
                     <td hidden>@item.Id</td>
                     <td><img style="width: 300px; height: 150px;" src="~/@item.ImagePath" alt="Fara Imagine" /></td>
                     <td>@item.Name</td>
                     <td>@item.Price</td>
                     <td><input type="checkbox" checked="@item.IsAvailable" /></td>
                 </tr>
              }

         </tbody>

     </table>